__pycache__/
*.pyc
.venv/
venv/
db.sqlite3
media/
staticfiles/

_backup_before_english_ui/
_backup_force_english_remaining/
_backup_full_english_ui/

*.backup.html
*.backup_before_fix_vietnamese
*.backup_before_red_theme
*.backup_before_fix_part_buttons
*.backup_encoding_broken

english_ui_cleanup.py
force_full_english_ui.py
translate_remaining_ui_to_english.py
